.title {
  margin: 30px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul#buttonset {
  margin: auto;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  list-style: none;
}

#buttonset .subject {
  margin-top: 20px;
  width: 400px;
  height: 100px;
}

#buttonset .subject button {
  width: 200px;
  height: 40px;
  margin-right: 20px;
}
.buttonset .subject span {
  width: 100px;
  text-align: center;
}
